.app{
  width: 100vw;
  min-height: 100vh;
  padding: 30px 60px;
  justify-content: space-around;
  box-sizing: border-box;
  background-color: rgba(255,255,255,.8);
  box-shadow: 0 4px 14px 4px #375c821c;
  font-family: 'Noto Sans JP', sans-serif;
}
.todoapp h1{
  display: none;
}
